{% extends 'nucleo/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}


<div style="background-color: white">
    
    
    		<div class="container text-center" style="background-color: white">
				<img src="{% static 'nucleo/img/flamenca.png'%}"  />
				
				<br><br>

				<div style="font: normal 400 40px/35px Arial, Verdana, Sans-serif;">
            		<p>BIENVENID@</p>
             	
             	
             	</div>
				
				<div style="font: normal 400 40px/35px Arial, Verdana, Sans-serif;">
            		<p>Escuela de Marisa Valverde </p>
             	
             	
             	</div>
				 <br><br>
             	<div style="font: italic normal 200 54px/35px Arial, Verdana, Sans-serif;">
            		<p><b>Baile Flamenco </b></p>
             	
             	
             	</div>
				<br>
      </div>
      </div>
      
{% endblock %}


