{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}{{noticia.titulo}}{% endblock %}
{% block content %}
{% include 'noticias/crud/submenu.html'%}

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{noticia.titulo}}</h2>
        
        <div>
          {{noticia.contenido|safe}}
          {% if request.user.is_staff %}s
           
          
          <p><a href="{% url 'noticias:update' noticia.id %}">Editar</a></p>
          {% endif %}
        
        
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
