{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Editar Noticia{% endblock %}
{% block content %}
{% include 'noticias/crud/submenu.html'%}

<div class="container">
    <div class="row mt-2">
      <div class="col-md-3">

      </div>
        <div>
            <form action="" method="post">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <input type="submit" value="Editar" />
            </form>
     </div>

    </div>
</div>
  

{% endblock %}